/common.o
/.project
/converter
/gregorian.o
/hconverter.o
/hebrew.o
/julian.o
/.cproject
/main.o
/hconverter
.idea/
*.iml
compile_commands.json
cmake-build-debug/
# Additional build artifacts (cmake generates these under _build/ and build/)
_build/
build/
*.o
*.dSYM/
/run_tests
/build/
